<div class="row">
    <div class="col-md-12 text-center">
        <h1>Your Saved Articles</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{#each article}}
        <div class="card flex-row flex-wrap" id="mh-articles">
            <div class="card-header border-0 p-0">
                <img class="my-auto" src="{{this.preview}}" style="height: 52px;">
            </div>
            <div class="card-body px-1">
                <h5 class="card-title">{{this.title}}</h5>
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                {{!-- <br><br> --}}
                <div class="w-100"></div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary save" data-id={{this._id}}>Save Article</button>

                </div>
            </div>
        </div>
        {{/each}}

    </div>

</div>